<sub class="footer-note"> développé par Tykayn /
    <a href="http://www.cipherbliss.com">
        Cipher Bliss
    </a>
    |
    <a href="mailto:contact@cipherbliss.com">
        <i class="fa fa-mail"></i>
        contact
    </a>
</sub>
