{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block navigation %}
    <div class="navbar">

        <a href="{{ path('homepage') }}">
            <i class="fa fa-home"></i>
            Homepage
        </a>
    </div>
{% endblock navigation %}
{% block body %}
    <div id="wrapper">
        <div id="container" class="container">

            <main>
                {% include 'default/main-screen.html.twig' %}
            </main>
            <footer>
                {% include 'default/footer.html.twig' %}
            </footer>
        </div>
    </div>
{% endblock %}
