{% trans_default_domain 'FOSUserBundle' %}
{% block loginchoices %}
    <div class="loginland  ">

        <div class="login-choices">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div class="row">
                    <div class="col-xs-10">
                        <div id="menu-dashboard">
                            <ul class="nav nav-pills">
                                <li>
                                    <a class="btn {% if app.request.attributes.get('_route') == 'homepage' %}
                                            btn-success
                                        {% else %}
                                            btn-default
                                        {% endif %}" href="{{ path('homepage') }}" title="accueil Caisse">
                                        <i class="fa fa-circle-o-notch "></i>
                                    </a>
                                <li>
                                <li>
                                    <a class="btn {% if app.request.attributes.get('_route') == 'dashboard' %}
                                            btn-success
                                        {% else %}
                                            btn-default
                                        {% endif %}" href="{{ path('dashboard') }}">
                                        <i class="fa fa-list"></i>
                                        Dashboard
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-2 text-right">
                        Bonjour
                        <a href="{{ path('fos_user_profile_edit') }}">

                            <i class="fa fa-user"></i>
                            {{ app.user.username }}

                        </a>
                        |
                        <a class="btn btn-default" href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </div>
                </div>


            {% else %}

                {#<a class="btn btn-default btn-block btn-twitter" href="{{ hwi_oauth_login_url('disqus') }}">#}
                {#<i class="fa fa-google"></i>#}
                {#Via {{ 'disqus' | trans({}, 'HWIOAuthBundle') }}#}
                {#</a>#}
                <h1 class="text-right">
                    {#<a class="btn btn-default btn-{{ "twitter" }}"#}
                    {#href="{{ hwi_oauth_login_url("twitter") }}">#}
                    {#<i class="fa fa-{{ "twitter" }}"></i>#}
                    {#{{ "twitter" | trans({}, 'HWIOAuthBundle') }}#}
                    {#</a>#}
                    <a class="btn btn-primary"
                            href="{{ path('fos_user_security_login') }}">
                        <i class="fa fa-key"></i>
                        {{ 'layout.login'|trans }}</a>
                    <a class="btn btn-default"
                            href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans }}</a>
                </h1>
            {% endif %}
        </div>
    </div>

{% endblock loginchoices %}
