<div class="main-screen">
    {% if app.user is defined and app.user is not null %}
        {% include 'logged/dashboard.html.twig' %}
    {% else %}
        <div id="welcome" class="jumbotron">
            <h1>
                Calendar maker
            </h1>
            importez des fichiers de toutes sortes et constituez une base de données sous forme de caledrier.
        </div>
    {% endif %}

</div>
