{% extends '::base.html.twig' %}

{% block body %}
    <div class="well">
        <h1>evenements
            <span class="badge">
                {{ app.user.events |length }}
            </span>
        </h1>
        <hr>
        {% block objects_list %}
            {% for c in evenements_list %}
                <div class="well">

                </div>
            {% endfor %}
        {% endblock %}

    </div>
{% endblock %}

