{% extends '::base.html.twig' %}

{% block body %}
    <div class="well">
        <h1>research
            <span class="badge">
                {{ app.user.researchs |length }}
            </span>
        </h1>
        <hr>
        {% block objects_list %}
            {% for r in research_list %}

                <div class="row">
                    <div class="col-xs-1"> {{ r.date|date('l') }}</div>
                    <div class="col-xs-1"> {{ r.date|date('Y-m-d') }}</div>
                    <div class="col-xs-1">


                        {{ r.date|date('H:i:s') }}
                    </div>
                    <div class="col-xs-9">
                        {{ r.queryText }}
                    </div>
                </div>

            {% endfor %}
        {% endblock %}

    </div>
{% endblock %}

