{% extends '::base.html.twig' %}
{% block body %}
    <div class="well">

        <h1>SMS
            <span class="badge">
                {{ app.user.sms |length }}
            </span>
        </h1>
        <hr>
        Trier par ordre
        <a href="{{ path('list_sms_desc') }}">
            décroissant
        </a>
        ,
        <a href="{{ path('list_sms') }}">
            croissant
        </a>
        {% if found_counter is defined %}
            <div class="alert alert-success">
                {{ found_counter }} contacts nouvellement recoupés

                <hr>
                {{ corresponding_counter }} contacts anciennement recoupés
            </div>
        {% else %}

        {% endif %}
        <div class="well">
            <h2>

                répartition Par mois:
            </h2>
            {% for year, tab in tableByYears %}

                <div class="well">

                    <strong>
                        {{ year }}
                    </strong>
                    {% for month,counting in tab %}
                        <div class="badge">
                            {{ month }}
                            : {{ counting }}
                        </div>
                    {% endfor %}
                </div>

            {% endfor %}
        </div>
        {% block sms_list %}
            {% for s in sms %}
                {% include 'logged/one/sms.html.twig' %}
            {% endfor %}
        {% endblock %}

    </div>
{% endblock %}
