<div>
    <h2>
        <a href="{{ path('list_contacts') }}">
            {{ app.user.contacts |length }} contacts
        </a>
    </h2>
    {#{% for c in app.user.contacts %}#}
    {#{{ c.firstName }}#}
    {#{{ c.lastName }}#}
    {#{% endfor %}#}
</div>
