<div>
    <h2>
        <a href="{{ path('list_conversations') }}">
            {{ app.user.conversations |length }} conversations
        </a>
    </h2>
    <div class="row">
        <div class="col-xs-6">
            <h2>dans le temps</h2>
        </div>
        <div class="col-xs-6">
            <h2>contacts fréquents</h2>
            {#bidule, x sms. année du plus de sms. réactivité moyenne. logueur de message moyen.#}
        </div>
    </div>
</div>
