{% extends '::default/index.html.twig' %}

{% block title %}Caisse{% endblock %}

    {% block body %}
        <div class="container">
            <div class="row justify-content-md-center align-items-center">
                <div class="col-md-auto">
                    <div class="well form-group">

                        {% block fos_user_content %}{% endblock %}
                    </div>

                </div>
            </div>
        </div>
    {% endblock %}
