<main>
    <form action="{{ path('i_gcontacts') }}" method="POST" enctype="multipart/form-data">
        <fieldset>
            <h1>import de contacts google au format csv</h1>
            <div class="well">
                <i class="fa-file fa-file-excel-o"></i>
                <strong> entêtes requises:</strong> First Name Middle Name Last Name Title Suffix Initials Web Page
                Gender Birthday Anniversary Location Language Internet Free Busy Notes E-mail Address E-mail 2 Address
                E-mail 3 Address Primary Phone Home Phone Home Phone 2 Mobile Phone Pager Home Fax Home Address Home
                Street Home Street 2 Home Street 3 Home Address PO Box Home City Home State Home Postal Code Home
                Country Spouse Children Manager's Name Assistant's Name Referred By Company Main Phone Business Phone
                Business Phone 2 Business Fax Assistant's Phone Company Job Title Department Office Location
                Organizational ID Number Profession Account Business Address Business Street Business Street 2 Business
                Street 3 Business Address PO Box Business City Business State Business Postal Code Business Country
                Other Phone Other Fax Other Address Other Street Other Street 2 Other Street 3 Other Address PO Box
                Other City Other State Other Postal Code Other Country Callback Car Phone ISDN Radio Phone TTY/TDD Phone
                Telex User 1 User 2 User 3 User 4 Keywords Mileage Hobby Billing Information Directory Server
                Sensitivity Priority Private Categories
            </div>
            <input type="file" id="testFile" name="csvfile" required>
            <input type="submit" value="envoyer">
        </fieldset>
    </form>
</main>
