<main>
    <form action="{{ path('i_ical') }}" method="POST" name="myform" enctype="multipart/form-data">

        <fieldset>
            <h1>import d'évènements calendrier au format ical</h1>
            <input type="file" name="icalfile" id="icalfile" required>
            <input type="submit" value="envoyer">
        </fieldset>
    </form>
    <hr>
    WIP:
    {#<form action="{{ path('homepage') }}" method="post">#}
    {##}

    {##}
    {#<fieldset>#}
    {#<h1>import de conversations MSN au format log texte</h1>#}
    {#<label for="dest">email du destinataire</label>#}
    {#<input type="email" id="dest" name="destinataire" required>#}
    {#<input type="file" required>#}
    {#<input type="submit" value="envoyer">#}
    {#</fieldset>#}
    {#</form>#}
    {#<form action="{{ path('homepage') }}" method="post">#}
    {##}

    {##}
    {#<fieldset>#}
    {#<h1>import de conversations irc 1 à 1 au format log texte</h1>#}
    {#<label for="dest">pseudo du destinataire</label>#}
    {#<input type="email" id="dest" name="destinataire" required>#}
    {#<input type="file" required>#}
    {#<input type="submit" value="envoyer">#}
    {#</fieldset>#}
    {#</form>#}
</main>
