<main>
    {#<form action="{{ path('i_msn_xml') }}" method="POST" enctype="multipart/form-data">#}

    {#<fieldset>#}
    {#<h1>import de conversations MSN au format XML</h1>#}
    {#<label for="dest">email ou pseudo du destinataire pour trouver un contact</label>#}
    {#<input type="text" id="dest" name="destinataire" required>#}
    {#<input type="file" id="testFile" name="csvfile" required>#}
    {#<input type="submit" value="envoyer">#}
    {#</fieldset>#}
    {#</form>#}
    <hr>
    WIP:
    <form action="{{ path('i_t_msn') }}" method="POST" enctype="multipart/form-data">
        <fieldset>
            <h1>import de conversations MSN au format log texte Trillian</h1>
            <label for="dest">pseudo ou email du destinataire</label>
            <input type="text" id="destinataire" name="destinataire" required>
            <input type="file" required>
            <input type="submit" value="envoyer">
        </fieldset>
    </form>
    {#<form action="{{ path('homepage') }}" method="post">#}
    {##}
    {#<fieldset>#}
    {#<h1>import de conversations irc 1 à 1 au format log texte</h1>#}
    {#<label for="dest">pseudo du destinataire</label>#}
    {#<input type="email" id="dest" name="destinataire" required>#}
    {#<input type="file" required>#}
    {#<input type="submit" value="envoyer">#}
    {#</fieldset>#}
    {#</form>#}
</main>
