<main>
    <form action="{{ path('i_sms') }}" method="POST" enctype="multipart/form-data">
        <fieldset>
            <h1>import de sms au format csv</h1>
            <pre class="well">
                    <strong>première ligne:</strong>
                    Expéditeur,	Contenu, Date de réception
                </pre>
            <i class="file file-excel-o"></i>
            <input type="file" id="testFile" name="csvfile" required>
            <input type="submit" value="envoyer">
        </fieldset>
    </form>
</main>
